.MenuItem button {
  color: white;
  padding: 5px 15px;
  margin: 0 5px;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.MenuItem button:hover {
  background-color: white;
  color: inherit;
}
